﻿/*
Octavio Gutiérrez | lacho.gutíerrez@gmail.com
SIIE 16-22 v 0.1
Cascading Style Sheets / master
*/


.titGen{text-transform: uppercase;  text-align:center; padding-left:10px; padding-top:15px;}
.titGen div {display: inline-block;color:#1D61AA;margin-left:5px;}

.info {background-color:#005CB9;}

.info p {
    
  font-size: .8em !important;
  color: white !important;
  padding-bottom: 30px !important;
  margin-bottom: 0 !important;
  font-family: 'Roboto Condensed', sans-serif !important;
  font-weight: lighter !important;
}

.info h2 {color: white !important;}

.modal-title { color:#1D61AA !important;}

