/*   
Theme Name: Gobierno del Estado de Tamaulipas 2016-2022
Theme URI: http://www.tamaulipas.gob.mx
Description: Tema de Gobierno del Estado de Tamaulipas 2016-2022
Author: Departamento de Diseño Gráfico y Producción Web | Dirección de Internet
Author URI: http://www.tamaulipas.gob.mx
Version: 1.0
*/

/*
Modify:
Octavio Gutiérrez | lacho.gutíerrez@gmail.com
SIIE 16-22 v 0.1
*/

/** Fonts **/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* font-family: 'Open Sans', sans-serif; */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700);
/* font-family: 'Roboto Condensed', sans-serif; */
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

@import url(http://www.tamaulipas.gob.mx/wp-content/themes/GobTam/eberth.css);
@import url(http://www.tamaulipas.gob.mx/wp-content/themes/GobTam/memo.css);


/* Generales */

body{
	font-family: 'Open Sans', sans-serif;
	color:#555;
	font-size:14px;
	font-weight:400;
	line-height:23px;

	 width: 100%;
	height: 100%;
}


html {
	width: 100%;
	height: 100%;
}


a {
	transition:all .5s;
	-webkit-transition:all .5s;
	-moz-transition:all .5s;
	-ms-transition:all .5s;
	-o-transition:all .5s;
}

a:hover {
	text-decoration:none;
}

.clean-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.clean-list li{
	display: inline-block;
}

.clean-list ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#carrusel-destacadas:not(.owl-loaded) {
	display: none;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-gobernador {
  border: 1px solid #dbdbdb;
  padding: 10px;
  width: 350px;
  display: block;
  margin: 0 auto !important;
}


/* Links superior */

#liston-superior,
#redes-sociales li {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left,  #ffffff 0%, #ffffff 50%, #abb0b4 50%, #abb0b4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  #ffffff 0%,#ffffff 50%,#abb0b4 50%,#abb0b4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  #ffffff 0%,#ffffff 50%,#abb0b4 50%,#abb0b4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  height: 40px;

}

#liston-superior .container {
  background: white;
  padding: 0;
}

#links-liston-superior {
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 40px;
}

#links-liston-superior li {
  margin: 0 10px;
}

#links-liston-superior a {
  color: #5c6670;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: lighter;
}


/* Buscador */

.form-buscador .form-control {
  height: 40px;
  border-radius: 0;
  width: 0;
  padding: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.form-buscador.showing-search .form-control {
  width: 200px;
  visibility: visible;
  padding: 10px;
}

div#buscador-liston {
  min-width: 20px;
}


/* Redes sociales */

#redes-sociales {
  line-height: 40px;
  height: 40px;
  margin-left: -20px;
}

#redes-sociales a {
  color: white;
  display: block;
  height: 41px;
  background: #abb0b4;
  padding: 0 10px;
  transform: skew(20deg);
  margin: -1px;1
}
#redes-sociales .li-fb:hover a,
#redes-sociales .li-fb a:active,
#redes-sociales .li-fb a:focus {
  background: #3b5998;
}
#redes-sociales .li-tw:hover a,
#redes-sociales .li-tw a:active,
#redes-sociales .li-tw a:focus {
  background: #1da1f2;
}
#redes-sociales .li-fl:hover a,
#redes-sociales .li-fb a:active,
#redes-sociales .li-fl a:focus {
  background: #0063dc;
}
#redes-sociales .li-yt:hover a,
#redes-sociales .li-yt a:active,
#redes-sociales .li-yt a:focus {
  background: #cd201f;
}
#redes-sociales li {
  float: left;
  min-width: 33px;
}
#redes-sociales li:first-child a {
  background: #95d600;
}

#redes-sociales a i {
  transform: skew(-20deg);
}


/* Menu */

#logo-menu {
	box-shadow: 0 3px 3px rgba(0,0,0,.2);
}

#logo-menu .titulo-sitio {
	display: none;
}

#logo-menu .logotam{
	padding: 20px 0;
}

#row-cabecera .menu-escritorio {
  height: 134px;
  display: flex;
  align-items: center;
}

#menu-container {
	width: 100%;
}


#barras-boton {
  line-height: 100px;
  font-size: 3em;
  text-align: right;
}


input[name="menu-toggle"] {
  display: none;
}
#menu-btn {
  top: 0px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.menu-bars {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 35px;
	height: 20px;
  margin-top: -5px;
}
.menu-bars span {
	display: block;
	width: 100%;
	height: 4px;
	background-color: #95d600;
	margin-bottom: 7px;
	transition: all 300ms ease;
}
.menu-bars span:last-child {
	margin-bottom: 0;
}
#menu-open:checked + .container #row-cabecera > #barras-boton .menu-btn-container label .menu-bars span {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 10px;
	left: 0;
}
#menu-open:checked + .container #row-cabecera > #barras-boton label .menu-bars span:last-child {
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);	
}
#menu-open:checked ~ #row-menu-movil {
	transform: scaleY(1);
	display: block;
}




/* Menu Movil */

#row-menu-movil {
  overflow: hidden;
  background: #005cb9;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.26s ease;
  display: none;
}
#row-menu-movil.showing-menu {
  transform: scaleY(1); 
}
.menu-movil li {
  display: block;
  text-align: center;
}

.menu-movil li a {
  padding: 10px;
  display: block;
  color: white;
}
.menu-movil li:not(:last-child) a:after {
  content: '';
  width: 50%;
  height: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 50%,rgba(0,0,0,0) 100%);
  border-radius: 500px;
}

.menu-movil > li:last-child a {
  margin-bottom: 10px;
}

/** Interiores **/

/* Breadcrumbs */
div#breadcrumbs {
  margin-top: 10px;
  margin-bottom: 20px;
  color: #777c80;
  font-size: .9em;
}

div#breadcrumbs a span{
  color: #40B4E5;
}

/* Content */

#the_content {
  color: #333;
}

h1#the_title {
	margin: 20px 0;
  font-size: 2.5em;
  text-transform: uppercase;
  color: #333;
  font-family: 'Roboto condensed', sand-serif;
	border-left: 5px solid #95d600;
  font-weight: 600;
  padding-left: 20px;
}

#the_category a {
  color: #40b4e5;
  font-size: 0.9em;
}

div#entry {
  font-size: 1em;
  margin-bottom: 30px;
}

#entry p {
	margin-bottom: 20px;
}

#entry > .destacada {
	margin-bottom: 20px;
}

#entry img{
	max-width: 100%;
	height: auto;
}

#entry ul,
#entry ol{
	margin: 20px 0;
}

#entry h1, #entry h2, #entry h3, #entry h4, #entry h5, #entry h6 {
	font-family: 'Roboto Condensed', sans-serif;
	color: #074167;
}

#entry .ssba-wrap{
	margin-bottom: 20px;
}

#entry .cuadro-interior {
  background: #f2f2f2;
  margin-bottom: 20px;
}

#entry .cuadro-interior h2 {
  background: #f2f2f2;
  color: white;
  font-size: 1.5em;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

#entry .cuadro-interior.celeste h2 {
  background: #3db4e5;
}

#entry .cuadro-interior.aqua h2 {
  background: #13a89e;
}

#entry .cuadro-interior.azul h2 {
  background: #1f5fac;
}

#entry .cuadro-interior.verde h2 {
  background: #96c93d;
}

#entry .cuadro-interior.azul-oscuro h2 {
  background: #144f79;
}

#entry .cuadro-interior.azul-claro h2 {
  background: #2299bc;
}

#entry .cuadro-interior ul {
  padding: 7px 0;
}

#entry .cuadro-interior ul li{
  display:block;
  font-size: 1em;
}

#entry .cuadro-interior ul li a{
	color: #5c6670;
}

.owl-gallery .item + .item {
  display: none;
}

#the_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 5px 0;
  font-size: 11px;
}

#the_meta li{
	margin-right: 10px;
}

#the_meta li a {
	color: #646569;
}

/* Footer */

#footer {
	overflow: hidden;
	padding-top: 80px;
}

#footer-bg {
  background: -moz-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%, #f5f5f5 100%);
  background: -webkit-linear-gradient(left, #005CB9 0%, #005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
  background: linear-gradient(to right, #005CB9 0%,#005CB9 50%,#f5f5f5 50%,#f5f5f5 100%);
}

#footer-links {
  background: #f5f5f5;
}

#footer h2 {
  font-size: .9em;
  text-transform: uppercase;
  font-weight: bold;
  color: #333e48;
  font-family: 'Roboto Condensed', sans-serif;
  margin-bottom: 20px;
  padding-top: 20px;
  margin-top: 0;
}

#footer #info h2 {
  color: white;
}

#footer .menu li {
	display: block;
	line-height: 1.2;
	margin-bottom: 7px;
}

#footer .menu li a {
  color: #5c6670;
  font-size: 0.9em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}

#info p {
  font-size: .8em;
  color: white;
  padding-bottom: 30px;
  margin-bottom: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
}


.diag-spacer {
	display: inline-block;
	position: absolute;
	transform: rotate(-20deg);
	bottom: -100px;
	z-index: 0;
	left: 50%;
	z-index: 9;
}

.diag-spacer .mask {
	overflow: hidden;
	width: 20px;
	height: 400px;
}

.diag-spacer .mask:after {
	content: '';
	display: block;
	margin-left: -20px;
	width: 20px;
	height: 100%;
	border-radius: 12px / 125px;
	box-shadow: 0 0 10px #95D600;
}

div#footer-diagonal-color {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

div#footer-diagonal-color:after {
  content: '';
  background: #f5f5f5;
  height: 400px;
  width: 100%;
  display:block;
  transform: rotate(-20deg);
  position:absolute;
  z-index: 0;
  bottom: -100px;
  left: 53%;
  z-index: 0;
}

#footer-rows > div {
  min-height: 200px;
}


/* Liston inferior */

#liston-inferior {
  text-align: center;
  color: white;
  font-size: .9em;
  line-height: 35px;
  height: 35px;
  background: #646569;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: lighter;
  position: relative;
}


/* Media Querys */

@media (max-width: 767px)  {
	
	#links-liston-superior{
	float: none !important;
	clear: both;
	text-align: center;
  }
	
  #liston-superior {
	height: auto;
	overflow: hidden;
  }
  
  .form-buscador.showing-search .form-control {
	width: 160px;
  }
  
  #redes-sociales {
	font-size: 1.4em;
  }
  
	#telefonos-servicios .row >div {
	margin-bottom: 20px;
  }
  
  ul#numeros-emergencia {
	font-size: 0.9em;
  }
  
  #liston-inferior {
	height: auto;
	line-height: 2;
	padding: 0 10px;
	}
	
	#to-break {
		display: block;
		font-size: 0;
	}
	
	#bloques .bloque{
		width: 100%;
	  height: 200px;
  }
	
}

@media (max-width: 991px) {
	
	#links-liston-superior {
		font-size: 16px;
	}
	
	#footer-bg {
		text-align: center;
	  background: #f5f5f5;
	}
	
	#footer-rows.cols-same-height > div {
	height: auto !important;
	}
	
	div#info {
	background: #005CB9;
	}
	
	#footer {
	padding-top: 30px;
	font-size: 17px;
	}
	
	
	div#entry {
	font-size: 1.1em;
	}
	    	
	#the_sidebar .nota h2 {
/* 		font-size: 1.5em; */
	}
	
	#the_title {
		font-size: 2em !important;
	}
	
}

@media (min-width: 767px) and (max-width: 991px)  {
  
  #bloques .bloque{
	  height: 250px;
  }
  
  #bloques .bloque .bottom .titulo h3{
	  font-size: 1em;
  }
	
	#bloques .bloque .bottom .celeste{
		left: 136px;
	}

}


@media (min-width: 992px) and (max-width: 1199px)  {
   
  #bloques .bloque .bottom .celeste{
		left: 179px;
	}
	
	#row-cabecera .menu-escritorio{
		height: 116px;
	}
		
  #links-servicios-linea li {
	line-height: 1.3;   
  }
  
  ul#numeros-emergencia {
	text-align: left;
	font-size: .8em;
  }
	
}

@media (min-width: 1200px) {
	
  #bloques .bloque .bottom .celeste{
		left: 219px;
	}
	
}


/** NO Padding/Margin **/

.no-padding{padding:0;}
.no-left-padding{padding-left:0;}
.no-right-padding{padding-right:0;}
.no-top-padding{padding-top:0;}
.no-bottom-padding{padding-bottom:0;}
.no-margin{margin:0;}
.no-left-margin{margin-left:0;}
.no-right-margin{margin-right:0;}
.no-top-margin{padding-top:0;}
.no-bottom-margin{margin-bottom:0;}

/** Margenes **/
.mt5{margin-top:5px !important;}				.mt10{margin-top:10px !important;} 			.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}			.mt30{margin-top:30px !important;} 			.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;} 			.mt60{margin-top:60px !important;}
.mb5{margin-bottom:5px !important;} 		.mb10{margin-bottom:10px !important;} 	.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;} 	.mb30{margin-bottom:30px !important;} 	.mb40{margin-bottom:40px !important;}
.mb50{margin-bottom:50px !important;} 	.mb60{margin-bottom:60px !important;}
