﻿<p>Conoce el calendario de procesos de la Subsecretaría de Planeación para el ciclo escolar 2016 – 2017.</p>
<br />
<a href="http://siie.tamaulipas.gob.mx/sistemas/docs/Calendario_de_Procesos_SPL_16_17.pdf" target="_blank" title="descargar archivo">
    <img src="imgs/icons/icoFpdf.png" />
</a>
<br /><br />